{% load static %}
<html>
    <head>
        <title>TEST Calendar</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <h1 id = "siteTitle">
            TEST Calendar
        </h1>
        {% if user.is_authenticated %}
            <p class="top-menu">Hello, {{ user.username }}</p>
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
        {% endif %}
        {% block content %}
        {% endblock %}   
    </body>
</html>

