{% load static %}
<html>
    <head>
        <title>TEST Calendar</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="userInfo">
            <a href="{% url 'index' %}" class="noHover">
            <p id = "siteTitle" style="display:inline">Dogma Calendar</p>
        </a>
        {% if user.is_authenticated %}
            <p id="greetings" class="top-menu">Hello, <b>{{ user.username }}</b></p> <a href="{% url 'logout' %}" class="top-menu regbtn">Log Out</a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu regbtn" >Log In</a>
            <a href="{% url 'signup' %}" class="top-menu regbtn">Sign Up</a>
        {% endif %}
    </div>
        
        
        {% block content %}
        {% endblock %}   
    </body>
</html>

