{% extends "cencal/base.html" %}
{% load static %}
{% block content %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    
    
    <div id="navBar">
        <input type="button" id="prev" value="Prev" class="movemonth">
        <input type="button" id="next" value="Next" class="movemonth">
    </div>
    <div id="contentWrapper">
        <div id="calendar">
        </div>

        <div id="sidebar">
            {% if sidebarContent %}
                {{ sidebarContent }}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">   
        //Jan, Feb와 같은 형태의 월을 숫자(1,2)로 변환
        function getMonthFromString(mon){
           let d = Date.parse(mon + "1, 2020");
           if(!isNaN(d)){
              return new Date(d).getMonth() + 1;
           }
           return -1;
         }
        /*
        //이벤트 생성/수정 폼 HTML 생성
        function getEventForm(formtype,year,month,day){
            $('#sidebar').load("{% static 'cencal/eventform.html' %}");
        }
        */
        //달력의 현재 년/월 뽑아내기
        function getYearMonthFromCalendar(){
            let str = $("th.month").text();
            let year = Number(str.slice(-4));
            let month = getMonthFromString(str.slice(0,-5));
            var arr = [year, month]
            return arr    //배열반환 이케하는거맞나
        }
        
        //폼 만들어주는 함수. 이벤트 생성 버튼 눌렀을 때
        // function makeEventClick(day){
        //     var form;
        //     var arr = getYearMonthFromCalendar();
        //     var year = arr[0];
        //     var month = arr[1];
        //     var month_str = "";
        //     if (month < 10){
        //         month_str = "0" + month;
        //     } else {
        //         month_str = month;
        //     }
        //     var day_str = "";
        //     if (day < 10){
        //         day_str = "0" + day;
        //     } else {
        //        day_str = day;
        //     }
        //     var date = year + "-" + month_str + "-" + day_str;
            
        //     //ajax로 eventform render 를 받아오기
        //     $.ajax({
        //         url: "{% url 'makeevent' %}",
        //         async: false,
        //         success: function(response){
        //             form = response;
        //             console.log("makeEventClick()");
        //             $("#sidebar").html(form);
        //             //$("#eventform > #id_date").val(date);
        //             document.getElementById("eventform").querySelector("#id_date").value = date; 
        //         },
        //         error: function(data){
        //             console.log("error occured while loading makeevent form");
        //         }
        //     });
            
        //     document.getElementById("eventform").addEventListener('submit', makeEvent);
        // }
        
        function makeEventClick(day, make, pk){
            pk = (typeof pk !== 'undefined') ?  pk : "undefined"
            // make/edit 이벤트에 대하여 해당하는 폼을 반환한다.
            // day : 년/월/일의 '일'에 해당. 지금 요청하는 폼이 어떤 날짜의 폼인지를 알기 위해.
            // make : boolean 값이다. true 이면 make, false이면 edit
            var form;
            var arr = getYearMonthFromCalendar();
            var year = arr[0];
            var month = arr[1];
            var month_str = "";
            if (month < 10){
                month_str = "0" + month;
            } else {
                month_str = month;
            }
            var day_str = "";
            if (day < 10){
                day_str = "0" + day;
            } else {
               day_str = day;
            }
            var date = year + "-" + month_str + "-" + day_str;
            
            //ajax로 eventform render 를 받아오기
            $.ajax({
                type: "GET",
                url: make ? "{% url 'makeevent' %}" : "{% url 'event_edit' %}",
                data : (make==true) ? {} : {'pk' : pk},
                async: false,
                success: function(response){
                    form = response;
                    $("#sidebar").html(form);
                    //$("#eventform > #id_date").val(date);
                    document.getElementById("eventform").querySelector("#id_date").value = date; 
                    document.getElementById("eventform").addEventListener('submit', makeEvent);
                },
                error: function(data){
                    console.log("error occured while loading form");
                }
            });
            // if (make){
                
            // }
            // else{
            //     document.getElementById("eventform").addEventListener('submit', editEvent);
            // }
            
        }
        
        //달력 REFRESH
        //year, month 정수일 필요 없음
        var refreshCalendarAjax = function(year,month){
            $.ajax({
                type: "POST",
                url: "{% url 'calbuilder' %}",
                data: {'year':year, 'month':month, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response){
                    console.log("success");
                    $("#calendar").html(response.calendar);
                    $("td").click(dayClick);
                    events = JSON.parse(response.events);
                    //이벤트들을 맞는 날짜들에 등록
                    if(events.length > 0){
                        Array.prototype.forEach.bind(document.getElementsByTagName("td"),function(element){
                            /*
                            for(var event in events){
                                if (parseInt(event.fields.date.slice(8)) == element.innerHTML){
                                    var a = document.createElement("p");
                                    a.innerHTML = event.fields.title;
                                    a.className = "events";
                                    element.appendChlid(a);
                                }
                            }
                            */
                            events.forEach(function(event){
                                if (parseInt(event.fields.date.slice(8)) == parseInt(element.firstChild.data)){
                                    var a = document.createElement("p");
                                    a.innerHTML = event.fields.title;
                                    a.style.background = event.fields.color;
                                    a.className = "events";
                                    this.appendChild(a);
                                }
                            }, element)
                        })();
                    }
                },
                error: function(request,status,error){
                    console.log(error);
                },
            });
        }
        
        function detailEvent(pk, day){
            $.ajax({
                type: "POST",
                url: "{% url 'detailevent' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                async: false,
                success: function(response){
                    $("#sidebar").html(response);
                    $("#editEventBtn").click(function(){
                        makeEventClick(day, false, pk);
                    })
                },
                error: function(request,status,error){
                    console.log(status);
                    console.log(request);
                    console.log(error);
                },
            });
        }
        
        function removeEvent(pk){
            console.log("removeEvent")
            $.ajax({
                type: "POST",
                url: "{% url 'event_remove' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                async: false,
                success: function(response){
                    $("#sidebar").html(response);
                    let year = $("#sidebar").attr("year");
                    let month = $("#sidebar").attr("month");
                    let day = $("#sidebar").attr("day");
                    refreshCalendarAjax(year, month);
                    
                    listevent(year, month, day);
                    document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', '<div class="info">일정 삭제 성공!</div>' );
                },
                error: function(request,status,error){
                    console.log(status);
                    console.log(request);
                    console.log(error);
                },
            });
        }
        
        //날짜 클릭 시, 그 날짜에 등록된 일정들을 오른쪽에 표시
        //dayClick 이벤트 리스너에 의해 실행된다.
        function listevent(year, month, day){
            date = new Date(year,month-1,day)
            
            wekday = date.toLocaleDateString('kr-KO', {weekday:'short'})
            $.ajax({
                type: "POST",
                url: "{% url 'listevent' %}",
                data: {'year':year, 'month':month, 'day':day, 'wekday':wekday, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                async: false,
                success: function(response){
                    $("#sidebar").html(response);
                    $("#sidebar").attr('year', year);
                    $("#sidebar").attr('month', month);
                    $("#sidebar").attr('day', day);
                    $("#newEventBtn").click(function(){
                        makeEventClick(day, true);
                    })
                    $(".eventListElem").each(function(index){
                        $(this).click(function(){
                            detailEvent($(this).attr("pk"), day);
                        })
                    })
                    /*
                    $("#sidebar").attr('year', year);
                    $("#sidebar").attr('month', month);
                    $("#sidebar").attr('day', day);
                    console.log("success sidebar listevent");
                    events = JSON.parse(response.events)
                    var str = "<h3>"+year+"/"+month+"/"+day+"</h3><br>"
                    if(events.length > 0){
                         events.forEach(event => str += '<p class="eventlistelement" style="color:'+ event['fields']['color'] +';">' + event['fields']['start_time']+" - "+event['fields']['title']+"</p>");
                        for(i=0; i<$(".eventlistelement").length; i++){
                            $(".eventlistelement").eq(i).click(function(){
                                detailevent(date, i)
                            })
                        }
                    } else {
                        str += "일정이 없습니다.<br><br>"
                    }
                    $("#sidebar").html(str);
                    {% if user.is_authenticated %}
                        var btn = $("<button></button>").html("새 일정");
                        btn.click(function(){
                            makeEventClick(day);
                        });
                         $("#sidebar").append(btn);
                    {% endif %}
                    
                    $(".eventlistelement").eq()
                     */
                },
                error: function(request,status,error){
                    console.log(status);
                    console.log(request);
                    console.log(error);
                },
            });
        }
        
        //날짜 클릭 시의 동작 구현
        //listevent 함수 실행
        function dayClick(target){
            let arr = getYearMonthFromCalendar();
            let year = arr[0];
            let month = arr[1];
            var day = 0;
            if (event.target.tagName != "TD"){    //안에 있는 것들을 눌렀을 떄.
                day = event.target.parentNode.firstChild.data;
            } else {
                day = event.target.firstChild.data;
            }
            //빈칸 클릭했을때
            if (day != String.fromCharCode(160)){
                listevent(year, month, day);
            }
        }
        /*
        function eventClick(target){
            var arr = getYearMonthFromCalendar();
            var year = arr[0];
            var month = arr[1];
            var month_str = "";
            if (month < 10){
                month_str = "0" + month;
            } else {
                month_str = month;
            }
            var day_str = "";
            if (day < 10){
                day_str = "0" + day;
            } else {
               day_str = day;
            }
            
            var form = getEventForm("make", year, month_str, day_str);
            
            $("#sidebar").empty();
            $("#sidebar").append(form);
        }
        */
        //makeEventClick이 만든 폼 제출을 처리하는 AJAX
        // function makeEvent(event){
        //     event.preventDefault();
        //     var year = event.target.querySelector("#id_date").value.slice(0,4);
        //     var month = event.target.querySelector("#id_date").value.slice(5,7);
        //     var day = event.target.querySelector("#id_date").value.slice(8,10);
        //     var form = $("#eventform");
        //     $.ajax({
        //         type: form.attr('method'),
        //         url: form.attr('action'),
        //         data: form.serialize(),
        //         success: function(response){
        //             console.log("makeEvent() successful");
        //             console.log(response);
        //             refreshCalendarAjax(year, month);                         
        //             listevent(year, month, day);
        //             document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', '<div class="info">일정 등록 성공!</div>' );
        //         },
        //         error: function(data){
        //             if (data.status == 599) {
        //                 listevent(year, month, day);
        //                 errors = JSON.parse(data.responseJSON.error);
        //                 errors['__all__'].forEach(function(error){
        //                      document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', error['message'] );
        //                 })
        //             } else {
        //                 alert("code:"+data.status+"\n"+"message:"+data.status+"\n"+"error:"+data.error);
        //             }
        //         },
        //     });
        // }
        function makeEvent(event){
            event.preventDefault();
            var year = event.target.querySelector("#id_date").value.slice(0,4);
            var month = event.target.querySelector("#id_date").value.slice(5,7);
            var day = event.target.querySelector("#id_date").value.slice(8,10);
            var form = $("#eventform");
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.attr('edit') ? {'form' : form.serialize(), 'pk' : form.attr("pk"), 'csrfmiddlewaretoken': '{{ csrf_token }}'} : {'form' : form.serialize(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){
                    console.log("makeEvent() successful");
                    console.log(response);
                    refreshCalendarAjax(year, month);                         
                    listevent(year, month, day);
                    //아래 메시지 make/edit별로 따로 출력해야 함.
                    if (form.attr('edit')=="true"){
                        document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', '<div class="info">일정 수정 완료!</div>' );
                    }else{
                        document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', '<div class="info">일정 등록 성공!</div>' );
                    }
                },
                error: function(data){
                    if (data.status == 599) {
                        listevent(year, month, day);
                        errors = JSON.parse(data.responseJSON.error);
                        errors['__all__'].forEach(function(error){
                             document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', error['message'] );
                        })
                    } else {
                        alert("code:"+data.status+"\n"+"message:"+data.status+"\n"+"error:"+data.error);
                    }
                },
            });
        }

        var calendarMoveMonth = function(){
            var year = 0;
            var month = 0;
            if($(this).attr('class') == 'movemonth'){    //버튼 누른 경우
                let arr = getYearMonthFromCalendar();
                year = arr[0]
                month = arr[1]
                if($(this).attr('id') == 'prev'){
                    if(month == 1){
                        month = 12;
                        year -= 1;
                    } else {
                        month -= 1;
                    }
                } else if($(this).attr('id') == 'next'){
                    if(month == 12){
                        month = 1;
                        year += 1;
                    } else {
                        month += 1;
                    }
                }
            } else {    //로딩시
                let d = new Date();
                month = d.getMonth() + 1;
                year = d.getYear() + 1900;
            }
            
            refreshCalendarAjax(year,month);
        };
        
        
        $(".movemonth").click(calendarMoveMonth);
        $("td").click(dayClick);
        //$(".eventlistelement").click(eventClick);
        window.onload = function(){
            var today = new Date();
            var year = today.getYear()+1900;
            var month = today.getMonth()+1;
            refreshCalendarAjax(year,month);
        }
    </script>
{% endblock %}