{% extends "cencal/base.html" %}
{% load static %}
{% block content %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <input type="button" id="prev" value="Prev" class="movemonth">
    <input type="button" id="next" value="Next" class="movemonth">
    {% if user.is_authenticated %}
            <p class="top-menu">Hello, {{ user.username }}</p>
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
            <a href="{% url 'signup' %}" class="top-menu">Sign Up</a>
        {% endif %}
    <div id="contentWrapper">
        <div id="calendar">
        </div>

        <div id="sidebar"></div>
    </div>

    <script type="text/javascript">   
        //Jan, Feb와 같은 형태의 월을 숫자(1,2)로 변환
        function getMonthFromString(mon){
           let d = Date.parse(mon + "1, 2020");
           if(!isNaN(d)){
              return new Date(d).getMonth() + 1;
           }
           return -1;
         }
        /*
        //이벤트 생성/수정 폼 HTML 생성
        function getEventForm(formtype,year,month,day){
            $('#sidebar').load("{% static 'cencal/eventform.html' %}");
        }
        */
        //달력의 현재 년/월 뽑아내기
        function getYearMonthFromCalendar(){
            let str = $("th.month").text();
            let year = Number(str.slice(-4));
            let month = getMonthFromString(str.slice(0,-5));
            var arr = [year, month]
            return arr    //배열반환 이케하는거맞나
        }
        
        //폼 만들어주는 함수. 이벤트 생성 버튼 눌렀을 때
        function makeEventClick(day){
            var form;
            var arr = getYearMonthFromCalendar();
            var year = arr[0];
            var month = arr[1];
            var month_str = "";
            if (month < 10){
                month_str = "0" + month;
            } else {
                month_str = month;
            }
            var day_str = "";
            if (day < 10){
                day_str = "0" + day;
            } else {
               day_str = day;
            }
            var date = year + "-" + month_str + "-" + day_str;
            
            //ajax로 eventform render 를 받아오기
            $.ajax({
                url: "{% url 'makeevent' %}",
                async: false,
                success: function(response){
                    form = response;
                    console.log("makeEventClick()");
                    $("#sidebar").html(form);
                    //$("#eventform > #id_date").val(date);
                    document.getElementById("eventform").querySelector("#id_date").value = date; 
                },
                error: function(data){
                    console.log("error occured while loading makeevent form");
                }
            });
            
            document.getElementById("eventform").addEventListener('submit', makeEvent);
        }
        
        //달력 REFRESH
        //year, month 정수일 필요 없음
        var refreshCalendarAjax = function(year,month){
            $.ajax({
                type: "POST",
                url: "{% url 'calbuilder' %}",
                data: {'year':year, 'month':month, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response){
                    console.log("success");
                    $("#calendar").html(response.calendar);
                    $("td").click(dayClick);
                    events = JSON.parse(response.events);
                    //이벤트들을 맞는 날짜들에 등록
                    if(events.length > 0){
                        Array.prototype.forEach.bind(document.getElementsByTagName("td"),function(element){
                            /*
                            for(var event in events){
                                if (parseInt(event.fields.date.slice(8)) == element.innerHTML){
                                    var a = document.createElement("p");
                                    a.innerHTML = event.fields.title;
                                    a.className = "events";
                                    element.appendChlid(a);
                                }
                            }
                            */
                            events.forEach(function(event){
                                if (parseInt(event.fields.date.slice(8)) == parseInt(element.firstChild.data)){
                                    var a = document.createElement("p");
                                    a.innerHTML = event.fields.title;
                                    a.style.color = event.fields.color;
                                    a.className = "events";
                                    this.appendChild(a);
                                }
                            }, element)
                        })();
                    }
                },
                error: function(request,status,error){
                    console.log(error);
                },
            });
        }
        
        //날짜 클릭 시, 그 날짜에 등록된 일정들을 오른쪽에 표시
        //dayClick 이벤트 리스너에 의해 실행된다.
        function listevent(year, month, day){
            $.ajax({
                type: "POST",
                url: "{% url 'listevent' %}",
                data: {'year':year, 'month':month, 'day':day, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                async: false,
                success: function(response){
                    $("#sidebar").html(response);
                    $("#sidebar").attr('year', year);
                    $("#sidebar").attr('month', month);
                    $("#sidebar").attr('day', day);
                    $("#newEventBtn").click(function(){
                        makeEventClick(day);
                    })
                    /*
                    $("#sidebar").attr('year', year);
                    $("#sidebar").attr('month', month);
                    $("#sidebar").attr('day', day);
                    console.log("success sidebar listevent");
                    events = JSON.parse(response.events)
                    var str = "<h3>"+year+"/"+month+"/"+day+"</h3><br>"
                    if(events.length > 0){
                         events.forEach(event => str += '<p class="eventlistelement" style="color:'+ event['fields']['color'] +';">' + event['fields']['start_time']+" - "+event['fields']['title']+"</p>");
                        for(i=0; i<$(".eventlistelement").length; i++){
                            $(".eventlistelement").eq(i).click(function(){
                                detailevent(date, i)
                            })
                        }
                    } else {
                        str += "일정이 없습니다.<br><br>"
                    }
                    $("#sidebar").html(str);
                    {% if user.is_authenticated %}
                        var btn = $("<button></button>").html("새 일정");
                        btn.click(function(){
                            makeEventClick(day);
                        });
                         $("#sidebar").append(btn);
                    {% endif %}
                    
                    $(".eventlistelement").eq()
                     */
                },
                error: function(request,status,error){
                    console.log(status);
                    console.log(request);
                    console.log(error);
                },
            });
        }
        
        //날짜 클릭 시의 동작 구현
        //listevent 함수 실행
        function dayClick(target){
            let arr = getYearMonthFromCalendar();
            let year = arr[0];
            let month = arr[1];
            var day = 0;
            if (event.target.tagName != "TD"){    //안에 있는 것들을 눌렀을 떄.
                day = event.target.parentNode.firstChild.data;
            } else {
                day = event.target.firstChild.data;
            }
            //빈칸 클릭했을때
            if (event.target.className != "noday"){
                listevent(year, month, day);
            }
        }
        /*
        function eventClick(target){
            var arr = getYearMonthFromCalendar();
            var year = arr[0];
            var month = arr[1];
            var month_str = "";
            if (month < 10){
                month_str = "0" + month;
            } else {
                month_str = month;
            }
            var day_str = "";
            if (day < 10){
                day_str = "0" + day;
            } else {
               day_str = day;
            }
            
            var form = getEventForm("make", year, month_str, day_str);
            
            $("#sidebar").empty();
            $("#sidebar").append(form);
        }
        */
        //makeEventClick이 만든 폼 제출을 처리하는 AJAX
        function makeEvent(event){
            event.preventDefault();
            var year = event.target.querySelector("#id_date").value.slice(0,4);
            var month = event.target.querySelector("#id_date").value.slice(5,7);
            var day = event.target.querySelector("#id_date").value.slice(8,10);
            var form = $("#eventform");
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(response){
                    console.log("makeEvent() successful");
                    console.log(response);
                    refreshCalendarAjax(year, month);                         
                    listevent(year, month, day);
                    document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', '<div class="info">일정 등록 성공!</div>' );
                },
                error: function(data){
                    if (data.status == 599) {
                        listevent(year, month, day);
                        errors = JSON.parse(data.responseJSON.error);
                        errors['__all__'].forEach(function(error){
                             document.getElementById("sidebar").insertAdjacentHTML( 'afterbegin', error['message'] );
                        })
                    } else {
                        alert("code:"+data.status+"\n"+"message:"+data.status+"\n"+"error:"+data.error);
                    }
                },
            });
        }

        var calendarMoveMonth = function(){
            var year = 0;
            var month = 0;
            if($(this).attr('class') == 'movemonth'){    //버튼 누른 경우
                let arr = getYearMonthFromCalendar();
                year = arr[0]
                month = arr[1]
                if($(this).attr('id') == 'prev'){
                    if(month == 1){
                        month = 12;
                        year -= 1;
                    } else {
                        month -= 1;
                    }
                } else if($(this).attr('id') == 'next'){
                    if(month == 12){
                        month = 1;
                        year += 1;
                    } else {
                        month += 1;
                    }
                }
            } else {    //로딩시
                let d = new Date();
                month = d.getMonth() + 1;
                year = d.getYear() + 1900;
            }
            
            refreshCalendarAjax(year,month);
        };
        
        
        $(".movemonth").click(calendarMoveMonth);
        $("td").click(dayClick);
        //$(".eventlistelement").click(eventClick);
        window.onload = function(){
            var today = new Date();
            var year = today.getYear()+1900;
            var month = today.getMonth()+1;
            refreshCalendarAjax(year,month);
        }
    </script>
{% endblock %}