
#siteTitle {
    font-family: 맑은고딕;
    font-size: 30px;
    margin-bottom: 15px;
    background-color: unset !important;
    color: unset !important;
    text-decoration: bold;
}

.noHover{
    background-color: unset !important;
    color: unset !important;
    text-decoration: unset !important;
    
}

#navBar {
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#userinfo {
    background-color: #eba134;
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
}

.regbtn {
    padding: 5px;
    font-weight: bold;
    border-style: dotted;
    border-width: 2px;
    color: #ffffff;
    margin-top: 7px;
}


.days:hover{
    background-color: #eeeeee;
}

.days p{
    font-size: 10pt;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 7px;
    color: #ffffff !important;
    text-decoration: unset !important;
}

.days p:hover{
    background-color: #cccccc;
}

.sat{
    color:#0000ff;
}
.sun{
    color:#ff0000;
}
.month{
    margin: auto;
    font-size: 15pt;
}

#eventlist {
    
}

#contentWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    height: 100%;
}

#calendar {
    flex: none;
    max-width: 1100px;
}

#sidebar {
    max-width: 450px;
    flex: 1 0 20%;
    padding-left: 35px;
}

#eventListDate {
    margin-bottom : 25px;
}

.top-menu {
    float: right;
    margin-left: 9px;
}

#greetings {
    font-size: 22px;
    padding: 7px;
    
}

.events {
    font-size: 10px;
}

.info {
    background-color: #FF9B9B;
    border : 1px dotted black;
    padding : 7px;
    display: inline-block;
}